In [ ]:
!pip install pandas

import pandas as pd

In [1]:
melbourne_file_path = 'melb_data.csv'
melb_data = pd.read_csv(melbourne_file_path)
melb_data.columns

ModuleNotFoundError: No module named 'pandas'

In [20]:
melb_data = melb_data.dropna(axis = 0)

In [21]:
y = melb_data.Price

In [22]:
melb_features = ['Rooms','Bathroom','Landsize','Lattitude','Longtitude']

In [23]:
x = melb_data[melb_features]
x.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350